.card{
    background-color: whitesmoke;
    box-shadow: 5px 5px 10px gray;
    border-radius: 4px;
    /* text-align: left; */
    padding: 20px;
}

.card-head {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.stars {
    color:gold;
    font-size: 24px;
}

.btn {
    text-decoration: none;
    padding: 15px 100px;
    display: inline-block;
    background: green;
    color: white;
    border-radius: 4px;
}

.card-video {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}
.card-video iframe {
    width: 100%;
}

.card-head-img {
    background-image: url("https://images.pexels.com/photos/1089930/pexels-photo-1089930.jpeg");
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 50%;
    position: relative;
    border-radius: 4px;
}

.my-heart {
    color: pink;
    font-size: 24px;
    text-shadow: 5px 5px 10px grey;
    position: absolute;
    top: 30px;
    left: 30px;
}

.card-head-infos {
    padding: 0 20px;
    flex-grow: 1;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


.card-footer{
    display: flex;
    justify-content: space-between;
}
.card-footer img{
    flex-grow: 1;
    height: 100px;
    object-fit: cover;
    border-radius: 4px;
    margin: 0px 10px;
}